In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("gugel_scholar.csv")
print(df.head())

                        Author           Co Author  Author_encoded  \
0  Prof. Alhadi Bustamam, Ph.D      Devvi Sarwinda               0
1  Prof. Alhadi Bustamam, Ph.D  Titin Siswantining               0
2  Prof. Alhadi Bustamam, Ph.D    Prasnurzaki Anki               0
3  Prof. Alhadi Bustamam, Ph.D         Arry Yanuar               0
4  Prof. Alhadi Bustamam, Ph.D        Dian Lestari               0

   CoAuthor_encoded
0                 1
1                21
2                22
3                23
4                24

In [3]:
df = df[["Author_encoded", "CoAuthor_encoded"]]
print(df.head())

   Author_encoded  CoAuthor_encoded
0               0                 1
1               0                21
2               0                22
3               0                23
4               0                24

In [4]:
df.to_csv("id_only.csv")

In [6]:
# Load the updated CSV file that contains only Author ID and CoAuthor ID
id_only_path = "id_only.csv"
df_id_only = pd.read_csv(id_only_path)

# Preview the file to confirm its structure
df_id_only.head()

   Unnamed: 0  Author_encoded  CoAuthor_encoded
0           0               0                 1
1           1               0                21
2           2               0                22
3           3               0                23
4           4               0                24

In [7]:
# Determine the maximum ID to define the size of the adjacency matrix
max_id = max(df_id_only["Author_encoded"].max(), df_id_only["CoAuthor_encoded"].max())

# Initialize the adjacency matrix with zeros
adj_matrix = [[0] * (max_id + 1) for _ in range(max_id + 1)]

# Fill the adjacency matrix with relationships
for _, row in df_id_only.iterrows():
    a = row["Author_encoded"]
    b = row["CoAuthor_encoded"]
    adj_matrix[a][b] = 1
    adj_matrix[b][a] = 1  # symmetric

# Convert to a string that simulates C-style output
c_style_output = "Adjacency Matrix:\n"
for row in adj_matrix:
    c_style_output += ' '.join(map(str, row)) + '\n'

c_style_output[:1500]  # Show first 1500 characters for brevity

'Adjacency Matrix:\n0 1 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0\n1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0\n1 0 0 1 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0\n1 1 1 0 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '